{% extends "forms/base/base_form.html" %}
{% load static %}
{% block title %}Medición de licencias de uso de propiedad intelectual o marcas registradas{% endblock %}
{% block cssheader %}
<link rel="stylesheet" href="{% static 'css/forms/gastos/gastos.css' %}" />
{% endblock %}

    
    <link rel="stylesheet" href="{% static 'css/website.css' %}" />
  </head>

{% block header %}
      <table>
        <tr>
          <td id="header_left">
            JP-304 Rev.<br>
            Junta de Planificación<br>
            Subprograma de Análisis Económico
          </td>
          <td id="header_center">
            <img src="{% static 'images/JP_poster.jpg' %}" alt="Logo JP" id="header_image"><br>
            <b>RELACIÓN DE APORTACIONES FEDERALES APROBADAS,<br>
                RECIBIDAS Y GASTADAS</b><br>
            Orden Ejecutiva 12372
          </td>
          <td id="header_right">
            Centro Gubernamental Roberto Sánchez Vilella<br>
            Apartado 41119<br>
            San Juan, Puerto Rico 00940-1119
          </td>
        </tr>
      </table>
{% endblock %}
{% block form_content %}
  <!-- Main -->  
    <main>
      <div class="form-contenedor">
        <h2 style="margin-bottom: 8px;">
            CUESTIONARIO PARA MEDIR LICENCIAS DE USO DE PROPIEDAD INTELECTUAL O MARCAS REGISTRADAS COMO
            ACTIVOS INTANGIBLES EN LAS CUENTAS NACIONALES
        </h2>
        <p style="text-align: center; font-size: 1.06em; margin-top: 0; margin-bottom: 30px;">
            Este cuestionario tiene como objetivo recopilar información sobre la inversión, gestión y valoración de
            <b>licencias de uso de propiedad intelectual y marcas registradas</b> como activos intangibles en las
            cuentas nacionales. La información será tratada de forma confidencial y utilizada exclusivamente con fines
            estadísticos.
        </p>
        <hr>
        
        <h3>I. Información General de la Empresa</h3>
        <form method="POST" action="{% url 'web_app:medicion-licencias-propiedad-intelectual-marcas-registradas' %}">
          {% csrf_token %}
            <ol>
                <li>
                    <b>Nombre de la empresa:</b>
                    <input type="text" name="nombre_empresa" style="width: 340px;">
                </li>
                <li>
                    <b>EIN:</b>
                    <input type="text" name="ein" style="width: 220px;">
                </li>
                <li>
                    <b>NAICS:</b>
                    <input type="text" name="naics" style="width: 220px;">
                </li>
                <li>
                    <b>Tamaño de la empresa:</b><br>
                    <input type="radio" name="tamano_empresa" value="micro"> Micro (1-10 empleados)<br>
                    <input type="radio" name="tamano_empresa" value="pequena"> Pequeña (11-50 empleados)<br>
                    <input type="radio" name="tamano_empresa" value="mediana"> Mediana (51-250 empleados)<br>
                    <input type="radio" name="tamano_empresa" value="grande"> Grande (más de 250 empleados)
                </li>
                <li>
                    <b>Año de referencia:</b>
                    <input type="text" name="anio_referencia" style="width: 120px;">
                </li>
                <li>
                    <b>¿La empresa posee o utiliza licencias de propiedad intelectual o marcas registradas?</b><br>
                    <input type="radio" name="usa_licencias" value="si"> Sí<br>
                    <input type="radio" name="usa_licencias" value="no"> No (si su respuesta es "No", finalice el
                    cuestionario)
                </li>
                <li>
                    <b>Tipo de licencias que posee la empresa:</b><br>
                    <input type="checkbox" name="tipo_licencia" value="marcas_registradas"> Marcas registradas<br>
                    <input type="checkbox" name="tipo_licencia" value="patentes"> Patentes<br>
                    <input type="checkbox" name="tipo_licencia" value="derechos_autor"> Derechos de autor<br>
                    <input type="checkbox" name="tipo_licencia" value="disenos_industriales"> Diseños industriales<br>
                    <input type="checkbox" name="tipo_licencia" value="software_con_licencia"> Software con licencia<br>
                    <input type="checkbox" name="tipo_licencia" value="secretos_comerciales"> Secretos comerciales<br>
                    <input type="checkbox" name="tipo_licencia" value="otros"> Otros (especifique): <input type="text"
                        name="tipo_licencia_otros" style="width:180px;">
                </li>
            </ol>
            <hr>
            <h3>II. Inversión en Licencias de Uso de Propiedad Intelectual</h3>
            <ol start="8">
                <li>
                    <b>¿Cuál fue el monto total invertido en licencias de propiedad intelectual durante el año de
                        referencia?</b>
                    <span style="font-size:small;">(en moneda local)</span><br>
                    &emsp;Total: <input type="text" name="total_inversion_licencias" style="width: 160px;">
                </li>
                <li>
                    <b>¿Cuáles fueron los principales conceptos de inversión en licencias?</b><br>
                    <input type="checkbox" name="concepto_inversion_licencias" value="compra_nacionales"> Compra de
                    licencias nacionales<br>
                    <input type="checkbox" name="concepto_inversion_licencias" value="compra_internacionales"> Compra de
                    licencias internacionales<br>
                    <input type="checkbox" name="concepto_inversion_licencias" value="derechos_exclusivos"> Derechos de
                    uso exclusivos<br>
                    <input type="checkbox" name="concepto_inversion_licencias" value="renovacion"> Renovación de
                    licencias<br>
                    <input type="checkbox" name="concepto_inversion_licencias" value="asesoria"> Asesoría legal
                    relacionada<br>
                    <input type="checkbox" name="concepto_inversion_licencias" value="otros"> Otros (especifique):
                    <input type="text" name="concepto_inversion_licencias_otros" style="width:150px;">
                </li>
                <li>
                    <b>¿Cómo financió la empresa la adquisición de licencias?</b><br>
                    <input type="checkbox" name="financiamiento_licencias" value="fondos_propios"> Fondos propios<br>
                    <input type="checkbox" name="financiamiento_licencias" value="creditos_bancarios"> Créditos o
                    préstamos bancarios<br>
                    <input type="checkbox" name="financiamiento_licencias" value="inversion_extranjera"> Inversión
                    extranjera<br>
                    <input type="checkbox" name="financiamiento_licencias" value="subvenciones_gubernamentales">
                    Subvenciones gubernamentales<br>
                    <input type="checkbox" name="financiamiento_licencias" value="otros"> Otros (especifique): <input
                        type="text" name="financiamiento_licencias_otros" style="width:150px;">
                </li>
            </ol>
            <hr>
            <h3>III. Gestión y Valorización de Licencias</h3>
            <ol start="11">
                <li>
                    <b>¿La empresa ha registrado sus licencias de propiedad intelectual como activos intangibles en sus
                        estados financieros?</b><br>
                    <input type="radio" name="registrada_activo_intangible" value="si"> Sí<br>
                    <input type="radio" name="registrada_activo_intangible" value="no"> No
                </li>
                <li>
                    <b>¿Cómo se valoran las licencias en su empresa?</b><br>
                    <input type="checkbox" name="metodo_valoracion" value="costo_adquisicion"> Costo de adquisición<br>
                    <input type="checkbox" name="metodo_valoracion" value="vpn_flujos_futuros"> Valor presente neto
                    (VPN) de los flujos futuros<br>
                    <input type="checkbox" name="metodo_valoracion" value="valor_mercado"> Valor de mercado<br>
                    <input type="checkbox" name="metodo_valoracion" value="otros"> Otros (especifique): <input
                        type="text" name="metodo_valoracion_otros" style="width:180px;">
                </li>
                <li>
                    <b>¿La empresa ha realizado revalorizaciones de sus licencias en los últimos años?</b><br>
                    <input type="radio" name="revalorizaciones" value="si"> Sí<br>
                    <input type="radio" name="revalorizaciones" value="no"> No
                </li>
                <li>
                    <b>¿Las licencias adquiridas están sujetas a amortización en los estados financieros de la
                        empresa?</b><br>
                    <input type="radio" name="amortizacion" value="si"> Sí<br>
                    <input type="radio" name="amortizacion" value="no"> No
                </li>
                <li>
                    <b>¿La empresa ha identificado deterioro en el valor de sus licencias debido a cambios en el mercado
                        o regulación?</b><br>
                    <input type="radio" name="deterioro_licencias" value="si"> Sí<br>
                    <input type="radio" name="deterioro_licencias" value="no"> No
                </li>
            </ol>
            <hr>
            <h3>IV. Uso y Beneficios de las Licencias</h3>
            <ol start="16">
                <li>
                    <b>¿Para qué fines utiliza su empresa las licencias de propiedad intelectual?</b>
                    <span style="font-size:small;">(marque todas las opciones aplicables)</span><br>
                    <input type="checkbox" name="fines_uso_licencias" value="comercializacion"> Comercialización de
                    productos o servicios<br>
                    <input type="checkbox" name="fines_uso_licencias" value="uso_interno"> Uso interno en procesos de
                    producción<br>
                    <input type="checkbox" name="fines_uso_licencias" value="desarrollo_productos"> Desarrollo de nuevos
                    productos<br>
                    <input type="checkbox" name="fines_uso_licencias" value="ampliacion_mercados_nacionales"> Ampliación
                    de mercados nacionales<br>
                    <input type="checkbox" name="fines_uso_licencias" value="expansion_mercados_internacionales">
                    Expansión a mercados internacionales<br>
                    <input type="checkbox" name="fines_uso_licencias" value="otros"> Otros (especifique): <input
                        type="text" name="fines_uso_licencias_otros" style="width:180px;">
                </li>
                <li>
                    <b>¿Qué porcentaje de los ingresos de la empresa proviene del uso de licencias de propiedad
                        intelectual o marcas registradas?</b><br>
                    <input type="radio" name="porcentaje_ingresos_licencias" value="menos_10"> Menos del 10%<br>
                    <input type="radio" name="porcentaje_ingresos_licencias" value="10_30"> 10% - 30%<br>
                    <input type="radio" name="porcentaje_ingresos_licencias" value="31_50"> 31% - 50%<br>
                    <input type="radio" name="porcentaje_ingresos_licencias" value="mas_50"> Más del 50%
                </li>
                <li>
                    <b>¿Cuáles son los principales beneficios obtenidos por el uso de licencias?</b><br>
                    <input type="checkbox" name="beneficios_licencias" value="mayor_reconocimiento"> Mayor
                    reconocimiento de marca<br>
                    <input type="checkbox" name="beneficios_licencias" value="incremento_cuota_mercado"> Incremento en
                    la cuota de mercado<br>
                    <input type="checkbox" name="beneficios_licencias" value="reduccion_costos"> Reducción de costos de
                    desarrollo<br>
                    <input type="checkbox" name="beneficios_licencias" value="acceso_tecnologias"> Acceso a tecnologías
                    avanzadas<br>
                    <input type="checkbox" name="beneficios_licencias" value="mejora_competitividad"> Mejora en la
                    competitividad<br>
                    <input type="checkbox" name="beneficios_licencias" value="otros"> Otros (especifique): <input
                        type="text" name="beneficios_licencias_otros" style="width:180px;">
                </li>
                <li>
                    <b>¿La empresa ha sublicenciado o vendido derechos de uso de sus marcas o licencias a
                        terceros?</b><br>
                    <input type="radio" name="sublicenciado_o_vendido" value="si"> Sí<br>
                    <input type="radio" name="sublicenciado_o_vendido" value="no"> No
                </li>
            </ol>
            <hr>
            <h3>V. Costos y Obligaciones Asociadas a las Licencias</h3>
            <ol start="20">
                <li>
                    <b>¿Cuáles son los principales costos asociados al mantenimiento de licencias?</b><br>
                    <input type="checkbox" name="costos_mantenimiento" value="tasas_renovacion"> Tasas de renovación<br>
                    <input type="checkbox" name="costos_mantenimiento" value="regalias_propietarios"> Regalías a los
                    propietarios de licencias<br>
                    <input type="checkbox" name="costos_mantenimiento" value="proteccion_legal"> Protección legal y
                    defensa de marca<br>
                    <input type="checkbox" name="costos_mantenimiento" value="cumplimiento_normativo"> Cumplimiento
                    normativo<br>
                    <input type="checkbox" name="costos_mantenimiento" value="otros"> Otros (especifique): <input
                        type="text" name="costos_mantenimiento_otros" style="width:180px;">
                </li>
                <li>
                    <b>¿Qué porcentaje de los ingresos anuales destina la empresa al mantenimiento de licencias?</b><br>
                    <input type="radio" name="porcentaje_ingresos_mantenimiento" value="menos_5"> Menos del 5%<br>
                    <input type="radio" name="porcentaje_ingresos_mantenimiento" value="5_10"> 5% - 10%<br>
                    <input type="radio" name="porcentaje_ingresos_mantenimiento" value="11_20"> 11% - 20%<br>
                    <input type="radio" name="porcentaje_ingresos_mantenimiento" value="mas_20"> Más del 20%
                </li>
                <li>
                    <b>¿Ha enfrentado la empresa disputas legales relacionadas con el uso de licencias?</b><br>
                    <input type="radio" name="disputas_legales" value="si"> Sí<br>
                    <input type="radio" name="disputas_legales" value="no"> No
                </li>
            </ol>
            <hr>
            <h3>VI. Riesgos y Desafíos Relacionados con las Licencias</h3>
            <ol start="23">
                <li>
                    <b>¿Cuáles son los principales riesgos asociados al uso de licencias de propiedad
                        intelectual?</b><br>
                    <input type="checkbox" name="riesgos_licencias" value="cambios_regulacion"> Cambios en la
                    regulación<br>
                    <input type="checkbox" name="riesgos_licencias" value="competencia_desleal"> Competencia desleal o
                    falsificación<br>
                    <input type="checkbox" name="riesgos_licencias" value="caducidad_perdida"> Caducidad o pérdida de
                    derechos<br>
                    <input type="checkbox" name="riesgos_licencias" value="dependencia_proveedores"> Dependencia de
                    proveedores externos<br>
                    <input type="checkbox" name="riesgos_licencias" value="costos_renovacion"> Costos elevados de
                    renovación<br>
                    <input type="checkbox" name="riesgos_licencias" value="otros"> Otros (especifique): <input
                        type="text" name="riesgos_licencias_otros" style="width:180px;">
                </li>
                <li>
                    <b>¿Qué medidas ha implementado la empresa para mitigar estos riesgos?</b><br>
                    <input type="checkbox" name="medidas_mitigacion" value="auditorias_periodicas"> Auditorías
                    periódicas de propiedad intelectual<br>
                    <input type="checkbox" name="medidas_mitigacion" value="registro_multijurisdiccion"> Registro de
                    marca en múltiples jurisdicciones<br>
                    <input type="checkbox" name="medidas_mitigacion" value="seguros_propiedad"> Seguros de propiedad
                    intelectual<br>
                    <input type="checkbox" name="medidas_mitigacion" value="otros"> Otros (especifique): <input
                        type="text" name="medidas_mitigacion_otros" style="width:180px;">
                </li>
            </ol>
            <hr>
            <h3>VII. Proyecciones y Estrategias Futuras</h3>
            <ol start="24">
                <li>
                    <b>¿Planea la empresa aumentar su inversión en licencias de propiedad intelectual en los próximos 3
                        años?</b><br>
                    <input type="radio" name="aumentar_inversion" value="si"> Sí<br>
                    <input type="radio" name="aumentar_inversion" value="no"> No<br>
                    <input type="radio" name="aumentar_inversion" value="no_esta_seguro"> No está seguro
                </li>
                <li>
                    <b>¿Qué estrategias considera clave para la gestión de licencias en el futuro?</b><br>
                    <input type="checkbox" name="estrategias_futuro" value="ampliacion_portafolio"> Ampliación del
                    portafolio de marcas<br>
                    <input type="checkbox" name="estrategias_futuro" value="proteccion_internacional"> Protección
                    internacional de licencias<br>
                    <input type="checkbox" name="estrategias_futuro" value="alianzas_estrategicas"> Alianzas
                    estratégicas<br>
                    <input type="checkbox" name="estrategias_futuro" value="mayor_digitalizacion"> Mayor digitalización
                    de activos<br>
                    <input type="checkbox" name="estrategias_futuro" value="otros"> Otros (especifique): <input
                        type="text" name="estrategias_futuro_otros" style="width:180px;">
                </li>
            </ol>
            <hr>
            
            <h3>VIII. Comentarios Adicionales</h3>
            <ol start="26">
                <li>
                    <b>¿Desea proporcionar algún comentario adicional sobre la gestión de licencias de propiedad
                        intelectual en su empresa?</b><br>
                    <textarea name="comentarios_adicionales" rows="3" cols="80" style="width:80%;"></textarea>
                </li>
            </ol>
            <hr>

            <p><b>Gracias por su participación. Sus respuestas ayudarán a mejorar la medición de las licencias de
                    propiedad intelectual como activos intangibles en las cuentas nacionales.</b></p>

        <section class = 'submit-button-container'>
          <input type="submit" value="SUBMIT" class="submit-button"></input>
        </section>
        </form>
    </div> 

    </main>
{% endblock %}